* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --primary-color: #00bac9;
  --primary-color-hover: #009ca7;
  --color: #f2f2f2;
  --color-hover: #161616;
  --color1: rgb(0, 186, 201);
  --color2: rgb(242, 253, 255);
  --h1-color: #0088cb;
}
body {
  background-color: #f2f2f2;
}
.row {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}
/* Şule */
.topbar {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 15px;
  display: flex;
  height: 50px;
  text-wrap: wrap;
}
.topbar .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .top-menu .top-left {
  display: flex;
  gap: 5px;
}
.topbar .top-menu .top-right {
  display: flex;
  gap: 1rem;
}
.topbar .top-menu .top-right li {
  list-style: none;
}
.topbar .top-menu .top-right li a {
  text-decoration: none;
  color: var(--color2);
  transition: color 0.6s ease-in-out;
  -webkit-transition: color 0.6s ease-in-out;
  -moz-transition: color 0.6s ease-in-out;
  -ms-transition: color 0.6s ease-in-out;
  -o-transition: color 0.6s ease-in-out;
}
.topbar .top-menu .top-right li a:hover {
  text-decoration: none;
  color: #000;
}
/* Şule */

/* Elif */
.header {
  background-image: url(../img/linear-slide.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
}
.header .header-info {
  color: var(--color);
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header .header-info .title {
  color: var(--h1-color);
}
.header .header-info .title-2 {
  color: var(--color);
}

.header .header-info .text {
  color: #f2f2f2;
}

.header .header-info .btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  background-color: var(--primary-color);
  color: var(--color);
  padding: 0.5rem 2rem;
  display: flex;
  align-self: center;
  transition: background 0.03s ease-in-out;
  -webkit-transition: background 0.03s ease-in-out;
  -moz-transition: background 0.03s ease-in-out;
  -ms-transition: background 0.03s ease-in-out;
  -o-transition: background 0.03s ease-in-out;
}

.btn:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
  user-select: none;
}

header .header-info .btns .header-services {
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.header .header-info .btns .ourservice:hover {
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
}

/* Elif */

/* Cahit */
.ana-menu {
  border-bottom: 2px solid var(--color);
}
.border-right {
  border-right: 2px solid var(--color);
  padding-right: 2rem;
}
.ana-menu .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.ana-menu .home {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  padding: 2rem 2rem 2rem 0;
}
.ana-menu .navbar .iki-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.ana-menu .navbar .iki-menu .menu {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding-left: 2rem;
}
.ana-menu .navbar .iki-menu .menu a {
  color: aliceblue;
}
.ana-menu .navbar .iki-menu .social-menu {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 2rem 1.5rem 0;
}
.social-menu li {
  background-color: rgb(208, 211, 214);
  padding: 5px;
  border-radius: 5px;
}
.social-menu a {
  color: black;
}
.sepet {
  padding: 1.8rem 2rem;
}
.sepet a {
  text-align: center;
  color: aqua;
}
.src {
  padding: 1rem 0 1rem 2rem;
}
.src a {
  color: aqua;
}
/* Cahit */

/* Eda */
.all-cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 70px auto;
}
.card {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  position: relative;
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 10px -2px gray;
  border-radius: 2px;
}
.card div.paragraf {
  position: absolute;
  top: 50%;
  font-size: 20px;
  line-height: 1.8rem;
  opacity: 0.6;
  padding: 20px;
  text-align: justify;
}

.card.bir p.baslik {
  font-size: 35px;
  text-align: start;
  margin: 10px;
  margin-top: 20px;
}

.card.bir div.paragraf {
  position: absolute;
  top: 30%;
}

.cizgi-1 {
  position: absolute;
  top: 30%;
  left: 10px;
  height: 0.2rem;
  width: 20%;
  background-color: rgb(97, 230, 250);
}
.cizgi-2 {
  position: absolute;
  top: 30%;
  right: 10px;
  display: inline-block;
  height: 0.2rem;
  width: 70%;
  background-color: gray;
  opacity: 0.3;
}

.card.bir button {
  display: flex;
  background-color: rgb(97, 230, 250);
  margin: 25px auto;
  height: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.card.bir button:hover {
  background-color: burlywood;
  transform: scale(1.1);
}

.card.iki {
  background-image: url("/assets/img/house-6115719_1280.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
}
.card.uc {
  background-image: url("/assets/img/real-estate-6893060_1280.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
}
.card.dort {
  background-image: url("/assets/img/polynesia-3021072_1280.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
}
.card > h4 {
  margin: 50% 20px;
  color: white;
  font-size: 25px;
}

/* MEDIA */
@media screen and (max-width: 800px) {
  .card {
    width: 50%;
  }
}
/* Eda */
/*Tuba*/
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(71, 64, 64);
  color: rgb(190, 184, 184);
  font-size: 12px;
  line-height: 2rem;
}

.footer > .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer > .row .footer-col {
  width: 24%;
  padding: 1rem 0;
}

.cizgi {
  line-width: 20%;
  color: blue;
}

.p1 {
  padding: 1rem 0;
}

.about {
  color: beige;
}

.btn {
  padding: 15px;
  background-color: rgb(26, 141, 131);
  color: aliceblue;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
  text-align: center;
  background-color: rgb(71, 64, 64);
  color: aliceblue;
  border-color: rgb(247, 249, 252);
  padding: 15px;
  border: 1px solid;
}

.service {
  color: beige;
}

.ser a {
  text-decoration: none;
  color: grey;
  line-gap-override: 5px;
}

.ser a:hover {
  color: rgb(233, 238, 243);
  text-decoration: none;
}

.recent {
  color: beige;
}

div a.aRecent {
  font-size: 15px;
  color: grey;
  text-decoration: none;
  padding: 1rem 0;
}

div a.aRecent:hover {
  color: azure;
}

.date {
  font-size: 15px;
  color: grey;
}
.adres {
  padding: 10px;
}

div.email a {
  text-decoration: none;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.email a:hover {
  color: beige;
}

.contact {
  color: beige;
}

/*Tuba*/
