* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  :root {
    --primary-color: #00bac9;
    --primary-color-hover: #009ca7;
    --color: #f2f2f2;
    --color-hover: #161616;
  }
  body {
    background-color: #f2f2f2;
  }
  .row {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
  }